.idea/
.vscode/
.git/
.svn/
.vagrant/
ssh.config
*.com
*.class
*.dll
*.exe
*.o
*.so
*.bkup
*.db
*.log
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
index.nginx-debian.html
/vendor/
/node_modules/
config/.auth
.auth
.env
.test
