version: '3.8'

services:
  php-fpm:
    build: .
    user: "${UID:-1000}:${GID:-1000}"
    environment:
      API_TWITCH_CLIENT_ID: ${API_TWITCH_CLIENT_ID}
      API_TWITCH_SECRET: ${API_TWITCH_SECRET}
      API_KEY: ${API_KEY}
    volumes:
      - .:/var/www/html
    depends_on:
      composer:
        condition: service_completed_successfully
      memcached:
        condition: service_started

  composer:
    image: composer:latest
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    command: ["composer", "install", "--no-interaction", "--prefer-dist", "--optimize-autoloader"]

  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
      - "4443:443"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm

  memcached:
    image: memcached:alpine
    ports:
      - "11211:11211"