@import url('https://fonts.googleapis.com/css2?family=Basic');

html, body {
    font-family: Basic, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#container {
    display: block;
}

.event {
    margin: 1rem;
}

span.start_date, span.title {
    display: block;
    word-wrap: break-word;
}

span.start_date {
    
}

span.title {
    
}