@import url('https://fonts.googleapis.com/css2?family=Basic');

@font-face {
    font-family:"Modern DOS 9x16";
    src: url("ModernDOS9x16.ttf") format("truetype");
}

html, body {
    font-family: Basic, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#container {
    display: block;
}

#container br {
    display: none;
}

.event {
    margin: 1rem;
}

span.start_date, span.title {
    display: block;
    word-wrap: break-word;
}

span.start_date {
    
}

span.title {
    
}